In [1]:
import pandas as pd
base_url = "https://www.calendar-12.com/moon_phases/"
years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]

In [2]:
moons = []
for year in years:
    tables = pd.read_html(f'{base_url}{year}')
    df = tables[0]
    full_df=df['Unnamed: 2_level_0']
    full_df = full_df.dropna(how='any')    
    for x in full_df["Full Moon"]:
        z = x.split(",")[0]
        if z[0:4] == "Jan.":
            moon = z.replace("Jan.", "January")
            moon = f'{moon} {year}'
            moons.append(moon)
        elif z[0:4] == "Feb.":
            moon = z.replace("Feb.", "February")
            moon = f'{moon} {year}'
            moons.append(moon)
        elif z[0:4] == "Mar.":
            moon = z.replace("Mar.", "March")
            moon = f'{moon} {year}'
            moons.append(moon)
        elif z[0:4] == "Apr.":
            moon = z.replace("Apr.", "April")
            moon = f'{moon} {year}'
            moons.append(moon)
        elif z[0:4] == "Aug.":
            moon = z.replace("Aug.", "August")
            moon = f'{moon} {year}'
            moons.append(moon)
        elif z[0:4] == "Sept":
            moon = z.replace("Sept.", "September")
            moon = f'{moon} {year}'
            moons.append(moon)
        elif z[0:4] == "Oct.":
            moon = z.replace("Oct.", "October")
            moon = f'{moon} {year}'
            moons.append(moon)
        elif z[0:4] == "Nov.":
            moon = z.replace("Nov.", "November")
            moon = f'{moon} {year}'
            moons.append(moon)
        elif z[0:4] == "Dec.":
            moon = z.replace("Dec.", "December")
            moon = f'{moon} {year}'
            moons.append(moon)
        else:
            z = f'{z} {year}'
            moons.append(z)
moons

['January 20 2000',
 'February 19 2000',
 'March 19 2000',
 'April 18 2000',
 'May 18 2000',
 'June 16 2000',
 'July 16 2000',
 'August 15 2000',
 'September 13 2000',
 'October 13 2000',
 'November 11 2000',
 'December 11 2000',
 'January 9 2001',
 'February 8 2001',
 'March 9 2001',
 'April 7 2001',
 'May 7 2001',
 'June 5 2001',
 'July 5 2001',
 'August 4 2001',
 'September 2 2001',
 'October 2 2001',
 'November 1 2001',
 'November 30 2001',
 'December 30 2001',
 'January 28 2002',
 'February 27 2002',
 'March 28 2002',
 'April 26 2002',
 'May 26 2002',
 'June 24 2002',
 'July 24 2002',
 'August 22 2002',
 'September 21 2002',
 'October 21 2002',
 'November 19 2002',
 'December 19 2002',
 'January 18 2003',
 'February 16 2003',
 'March 18 2003',
 'April 16 2003',
 'May 15 2003',
 'June 14 2003',
 'July 13 2003',
 'August 12 2003',
 'September 10 2003',
 'October 10 2003',
 'November 8 2003',
 'December 8 2003',
 'January 7 2004',
 'February 6 2004',
 'March 6 2004',
 'April 5 2004',
 'May 4 2004',
 'June 3 2004',
 'July 2 2004',
 'July 31 2004',
 'August 29 2004',
 'September 28 2004',
 'October 27 2004',
 'November 26 2004',
 'December 26 2004',
 'January 25 2005',
 'February 23 2005',
 'March 25 2005',
 'April 24 2005',
 'May 23 2005',
 'June 22 2005',
 'July 21 2005',
 'August 19 2005',
 'September 17 2005',
 'October 17 2005',
 'November 15 2005',
 'December 15 2005',
 'January 14 2006',
 'February 12 2006',
 'March 14 2006',
 'April 13 2006',
 'May 13 2006',
 'June 11 2006',
 'July 10 2006',
 'August 9 2006',
 'September 7 2006',
 'October 6 2006',
 'November 5 2006',
 'December 4 2006',
 'January 3 2007',
 'February 2 2007',
 'March 3 2007',
 'April 2 2007',
 'May 2 2007',
 'May 31 2007',
 'June 30 2007',
 'July 29 2007',
 'August 28 2007',
 'September 26 2007',
 'October 26 2007',
 'November 24 2007',
 'December 23 2007',
 'January 22 2008',
 'February 20 2008',
 'March 21 2008',
 'April 20 2008',
 'May 19 2008',
 'June 18 2008',
 'July 18 2008',
 'August 16 2008',
 'September 15 2008',
 'October 14 2008',
 'November 13 2008',
 'December 12 2008',
 'January 10 2009',
 'February 9 2009',
 'March 10 2009',
 'April 9 2009',
 'May 9 2009',
 'June 7 2009',
 'July 7 2009',
 'August 5 2009',
 'September 4 2009',
 'October 4 2009',
 'November 2 2009',
 'December 2 2009',
 'December 31 2009',
 'January 30 2010',
 'February 28 2010',
 'March 29 2010',
 'April 28 2010',
 'May 27 2010',
 'June 26 2010',
 'July 25 2010',
 'August 24 2010',
 'September 23 2010',
 'October 22 2010',
 'November 21 2010',
 'December 21 2010',
 'January 19 2011',
 'February 18 2011',
 'March 19 2011',
 'April 17 2011',
 'May 17 2011',
 'June 15 2011',
 'July 15 2011',
 'August 13 2011',
 'September 12 2011',
 'October 11 2011',
 'November 10 2011',
 'December 10 2011',
 'January 9 2012',
 'February 7 2012',
 'March 8 2012',
 'April 6 2012',
 'May 5 2012',
 'June 4 2012',
 'July 3 2012',
 'August 1 2012',
 'August 31 2012',
 'September 29 2012',
 'October 29 2012',
 'November 28 2012',
 'December 28 2012',
 'January 26 2013',
 'February 25 2013',
 'March 27 2013',
 'April 25 2013',
 'May 25 2013',
 'June 23 2013',
 'July 22 2013',
 'August 20 2013',
 'September 19 2013',
 'October 18 2013',
 'November 17 2013',
 'December 17 2013',
 'January 15 2014',
 'February 14 2014',
 'March 16 2014',
 'April 15 2014',
 'May 14 2014',
 'June 13 2014',
 'July 12 2014',
 'August 10 2014',
 'September 8 2014',
 'October 8 2014',
 'November 6 2014',
 'December 6 2014']

In [3]:
len(moons)

185

In [4]:
col = []
for moon in moons:
    col.append("Full Moon")

In [5]:
len(col)

185

In [6]:
moon_df = pd.DataFrame({"Date":moons, "Moon":col})
moon_df.head()

               Date       Moon
0   January 20 2000  Full Moon
1  February 19 2000  Full Moon
2     March 19 2000  Full Moon
3     April 18 2000  Full Moon
4       May 18 2000  Full Moon

Done with Extracting and Transforming Data source 1

In [7]:
raw_births_df = pd.read_csv("births.csv")
raw_births_df.head()

   year  month  date_of_month  day_of_week  births
0  2000      1              1            6    9083
1  2000      1              2            7    8006
2  2000      1              3            1   11363
3  2000      1              4            2   13032
4  2000      1              5            3   12558

In [8]:
date_col = []
for x in raw_births_df["date_of_month"]:
    date_col.append(x)

birth_col = []
for x in raw_births_df["births"]:
    birth_col.append(x)


year_col = []
for row in raw_births_df["year"]:
    year_col.append(row)


month_col = []
for row in raw_births_df["month"]:
    if row == 1:
        month_col.append("January")
    elif row == 2:
        month_col.append("February")
    elif row == 3:
        month_col.append("March")
    elif row == 4:
        month_col.append("April")
    elif row == 5:
        month_col.append("May")
    elif row == 6:
        month_col.append("June")
    elif row == 7:
        month_col.append("July")
    elif row == 8:
        month_col.append("August")
    elif row == 9:
        month_col.append("September")
    elif row == 10:
        month_col.append("October")
    elif row == 11:
        month_col.append("November")
    elif row == 12:
        month_col.append("December")

In [9]:
full_date = []

for i in range (0,len(date_col)):
    month = month_col[i]
    day = date_col[i]
    year = year_col[i]
    full_date.append(f'{month} {day} {year}')
len(full_date)

5479

In [10]:
births_df = pd.DataFrame({"Date":full_date, "Births":birth_col})
births_df.head()

             Date  Births
0  January 1 2000    9083
1  January 2 2000    8006
2  January 3 2000   11363
3  January 4 2000   13032
4  January 5 2000   12558

In [11]:
# births_df
# moon_df
# Merge 2 Dtaframes
merged_df = pd.merge(births_df, moon_df, how="left", on=["Date", "Date"])
merged_df.head()

             Date  Births Moon
0  January 1 2000    9083  NaN
1  January 2 2000    8006  NaN
2  January 3 2000   11363  NaN
3  January 4 2000   13032  NaN
4  January 5 2000   12558  NaN

In [12]:
merged_df["Births"].sum()

62187024

In [13]:
merged_df.Moon = merged_df.Moon.fillna(" ")
merged_df.head()

             Date  Births Moon
0  January 1 2000    9083
1  January 2 2000    8006
2  January 3 2000   11363
3  January 4 2000   13032
4  January 5 2000   12558

In [14]:
revised = []
for x in merged_df["Moon"]:
    if x == "Full Moon":
        revised.append("Full")
    else:
        revised.append("Not Full")
revised

['Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 'Not Full',
 ...]

In [15]:
merged_df["Moon"] = revised
merged_df.head()

             Date  Births      Moon
0  January 1 2000    9083  Not Full
1  January 2 2000    8006  Not Full
2  January 3 2000   11363  Not Full
3  January 4 2000   13032  Not Full
4  January 5 2000   12558  Not Full

In [21]:
merged_df.to_csv("lunar_phases_vs_births.csv")

End of ETL Data Manipulation

In [82]:
new_df = merged_df.groupby("Moon").sum()
new_df

            Births
Moon
Full       2107439
Not Full  60079585

In [83]:
merged_df.groupby("Moon").count()

          Date  Births
Moon
Full       185     185
Not Full  5294    5294